.container{
    background-color: white;
    width: 50rem;
    border-radius: 8px;
}

h1{
    text-align: center;
    margin-top: 1rem;
}

.user-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    border-radius: 10px; 
    overflow: hidden; 

    th , td {
        padding: 12px;
        background-color: #c0bebe;
        border-bottom: 1px solid #ddd;
        text-align: center;
        vertical-align: middle;
    }

    th:first-child {
        border-top-left-radius: 10px;
    }
    th:last-child {
        border-top-right-radius: 10px;
    }
}
