.container-show{
    background-color: white;
    width: 50rem;
    border-radius: 8px;
    padding: 1rem;
}
.detail{
    display: flex;
    flex-direction: row;
    justify-content: start;

    .Fullname{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }
    .labels{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .name{
            margin-top: 20px;
        }
        .birthday{
            margin-top: 20px;
        }
    }
    .labels h1{
        margin: 0;
    }
    
}